
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
**/allure-results/
/allure-results/
**/build/allure-results/
**/allure-report/
/allure-report/
**/target/allure-results/
**/target/site/allure-maven-plugin/
.env